<div class= "container">
  <div class="app-footer-inner-container">
    <div class= "app-footer-row-container">
      <div>
          <p class="app-footer-content">{{ 'application.footer.content' | translate }}</p>
      </div>
      <div>
        <img src="https://www.squiz.net/__data/assets/file/0014/17141/squiz2020-logo-light.svg"
        class="app-footer-img">
      </div>
    </div>
    <div>
     <div>
        <p class="app-footer-cpyright">{{ 'application.footer.copyright' | translate }}</p>
     </div>
    </div>
  </div>
</div>
