.list-wrapper {
  background: #fff;
  margin-top: 8px;
  width: 100%;
  height: 100%;
}

.head-title {
  padding: 0.7rem 0.9rem;
  color: #273C4E;
  font-size: 17px;
}

.status-icon {
  font-size: 18px;
  margin-right: 5px;
}

.datatable-footer {
  margin-top: 60px;

  select {
    max-width: 120px;
  }
}
