@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.conditions-section {
  padding: 2rem 0;

  .search-form {
    display: flex;
    justify-content: space-between;
    .search-field {
      border: none;
      &::placeholder {
        color: $placeholder-text;
      }
    }
  }

  .input-group-text {
    border: none;
    background-color: white;
    color: $placeholder-text;
  }
}