<div class="app-header-banner-container" routerLink="/">
  <div class="app-header-banner-title">
    <div>
      <h3>{{ 'application.header.banner.title' | translate }}</h3>
    </div>
    <div class="app-header-banner-content">
      <p>{{ 'application.header.banner.content' | translate }}</p>
    </div>
  </div>
  <div class="app-header-banner-img">
      <a routerLink="/">
        <img src="https://www.squiz.net/__data/assets/file/0022/17095/squiz2020-logo-dark-1.svg"
          srcset="/assets/images/group-2-copy-2@2x.png 2x, /assets/images/group-2-copy-2@3x.png 3x"
          class="Group-2-Copy-2">
      </a>
  </div>
</div>